{% extends 'base.html.twig' %}
{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}

    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Dateofbirth</th>
                <td>{% if user.dateOfBirth %}{{ user.dateOfBirth|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ user.title }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}